<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>Produtos</title>
	<!-- Caminho dos CSS-->
	<link rel="stylesheet" th:href="@{/css/paginacao.css}">
	<link rel="stylesheet" th:href="@{/css/tabela.css}">
	<link rel="stylesheet" th:href="@{/css/busca.css}">
	<link rel="stylesheet" th:href="@{/css/cadastro.css}">
	<link rel="stylesheet" th:href="@{/css/imagem.css}">
	<link rel="stylesheet" th:href="@{/css/modal.css}">
</head>

<body>

	<h1 class="titulo-form">Cadastro de Produto</h1>

	<form class="form-produto" th:action="${produto.id} != null ? @{/produtos/editar} : @{/produtos}"
		th:object="${produto}" method="post" enctype="multipart/form-data">

		<input type="hidden" th:field="*{id}" />

		<div class="linha-form">
			<div class="campo">
				<label>Nome</label>
				<input type="text" class="campo-texto campo-nome" th:field="*{nome}">
			</div>

			<div class="campo">
				<label>Preço</label>
				<input type="number" step="0.01" class="campo-texto campo-preco" th:field="*{preco}">
			</div>

			<div class="campo campo-imagem-wrapper">
			    <label>Imagem</label>
			    <input type="file" class="campo-imagem" name="arquivo" accept="image/*">
			</div>
		</div>

		<div class="linha-form">
			<div class="campo">
				<label>Categoria</label>
				<select class="campo-select campo-categoria" th:field="*{categoriaId}">
					<option value="">Selecione</option>
				</select>
			</div>

			<div class="campo">
				<label>Fornecedor</label>
				<select class="campo-select campo-fornecedor" th:field="*{fornecedorId}">
					<option value="">Selecione</option>
				</select>
			</div>

			<div class="campo campo-botao">
				<label>&nbsp;</label>
				<button type="submit" class="btn-salvar">Salvar</button>
			</div>
		</div>
	</form>

	<hr>

	<h1 style="text-align: center;">Lista de Produtos</h1>

	<form class="form-busca" method="get" th:action="@{/produtos}">
		<input type="text" name="busca" class="input-busca" placeholder="Buscar produto pelo nome" th:value="${busca}">
		<button type="submit" class="btn-buscar">Buscar</button>
	</form>

	<table class="tabela-produtos">
		<thead>
			<tr>
				<th>Imagem</th>
				<th>Nome</th>
				<th>Preço</th>
				<th>Categoria</th>
				<th>Fornecedor</th>
				<th>Ações</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="p : ${produtos}">
				<td>
					<img th:if="${p.imagem != null}" th:src="@{/imagens/{img}(img=${p.imagem})}" width="50"
						height="50" />
				</td>

				<td th:text="${p.nome}"></td>
				<td th:text="${p.preco}"></td>
				<td th:text="${p.categoria.nome}"></td>
				<td th:text="${p.fornecedor.nome}"></td>

				<td>
					<a th:href="@{/produtos/editar/{id}(id=${p.id})}" sec:authorize="hasRole('ADMIN')"
						class="btn-editar">
						Editar
					</a>

					<form th:action="@{/produtos/excluir/{id}(id=${p.id})}" method="post" style="display:inline"
						sec:authorize="hasRole('ADMIN')">

						<button type="submit" class="btn-excluir"
							onclick="return confirm('Deseja excluir este produto?')">
							Excluir
						</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="paginacao">
		<!-- Anterior -->
		<a th:if="${paginaAtual > 0}" th:href="@{/produtos(page=${paginaAtual - 1}, busca=${busca})}"
			class="pagina-link">
			Anterior
		</a>
		<!-- Números -->
		<a th:each="i : ${#numbers.sequence(inicioPagina, fimPagina)}" th:href="@{/produtos(page=${i}, busca=${busca})}"
			th:text="${i + 1}" th:classappend="${i == paginaAtual} ? 'pagina-ativa'" class="pagina-link">
		</a>
		<!-- Próximo -->
		<a th:if="${paginaAtual + 1 < totalPaginas}" th:href="@{/produtos(page=${paginaAtual + 1}, busca=${busca})}"
			class="pagina-link">
			Próximo
		</a>
	</div>
</body>

</html>