/* Reset básico */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Corpo da página */
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f5f6f8;
}
header {
	background-color: #343a40;
	color: white;
	padding: 10px;
	text-align: center;
}


/* Container principal */
.container {
	max-width: 1050px;
	margin: 15px auto;
	padding: 10px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: #ffffff;
	border-radius: 12px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Conteúdo do lado esquerdo */
.content {
	width: 50%;
}

.content h1 {
	font-size: 32px;
	margin-bottom: 16px;
	color: #000;
}

.content p {
	font-size: 18px;
	margin-bottom: 30px;
	color: #333;
}

/* Botão */
.btn {
	display: inline-block;
	padding: 14px 28px;
	background-color: #0d6efd;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	border-radius: 8px;
	transition: background-color 0.3s ease;
}

.btn:hover {
	background-color: #0b5ed7;
}

/* Imagem do lado direito */
.image {
	width: 50%;
	text-align: center;
}

.image img {
	max-width: 100%;
	height: auto;
}

/* Responsivo para celular */
@media (max-width: 768px) {
	.container {
		flex-direction: column;
		text-align: center;
	}

	.content,
	.image {
		width: 100%;
	}

	.image {
		margin-top: 30px;
		text-align: center;
	}
}