<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Novo Bory</title>
	<link rel="stylesheet" th:href="@{/css/form.css}">
</head>

<body>

	<div class="form-page">
		<div class="form-card" th:classappend="' card-' + ${bory.tipo.name().toLowerCase()}">

			<h1 th:text="'Novo ' + ${bory.tipo}"></h1>

			<form th:action="@{/bory/salvar}" th:object="${bory}" method="post" enctype="multipart/form-data">

				<div class="form-layout">

					<!-- COLUNA ESQUERDA -->
					<div class="form-image">
						<label>Imagem</label>

						<div class="upload-box">
							
							<input type="file" name="file" id="fileInput" accept="image/*"
								onchange="mostrarNomeArquivo(this)" />
							<label for="fileInput"> 📷 Selecionar imagem </label>
							<img id="preview">
							<div class="file-name" id="file-name">
								<span id="file-name">Nenhuma imagem selecionada</span>
							</div>
						</div>

					</div>

					<!-- COLUNA DIREITA -->
					<div class="form-fields">

						<div class="form-group">
							<label>Título</label>
							<input type="text" th:field="*{titulo}" placeholder="Digite o título" />
						</div>

						<div class="form-group">
							<label>Descrição</label>
							<textarea th:field="*{descricao}" placeholder="Digite a descrição"></textarea>
						</div>

						<input type="hidden" th:field="*{tipo}" />

						<div class="form-actions">
							<button type="submit" class="btn-primary">Salvar</button>
							<a th:href="@{/bory}" class="btn-secondary">Cancelar</a>
						</div>

					</div>

				</div>
			</form>
		</div>
	</div>
	<script th:src="@{/js/upload-preview.js}"></script>

</body>

</html>