body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f4f6f8;
	margin: 0;
	padding: 0;
}

header {
	background-color: #343a40;
	color: white;
	padding: 15px;
	text-align: center;
}

main {
	padding: 30px;
	text-align: center;
}


table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	border: 1px solid #ccc;
	padding: 8px;
}

th {
	background-color: #f2f2f2;
}

.acoes a {
	margin-right: 10px;
}