<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Produto</title>
	<!-- IMPORTA O CSS EXTERNO -->
	<link rel="stylesheet" th:href="@{/css/styleNovo.css}">
</head>

<body>
	<div class="center-page">
		<div class="form-card">

			<h2>Novo Produto</h2>

			<form th:action="@{/produtos/salvar}" method="post">

				<input type="hidden" name="id" th:value="${produto.id}" />

				<div class="form-group">
					<label for="nome">Nome:</label>
					<input id="nome" type="text" name="nome" th:value="${produto.nome}" required />
				</div>

				<div class="form-group">
					<label for="preco">Preço:</label>
					<input id="preco" type="number" name="preco" step="0.01" th:value="${produto.preco}" required />
				</div>

				<button type="submit" class="btn-save">Salvar</button>
				<a href="/produtos" class="btn-cancel">Cancelar</a>

			</form>

		</div>
	</div>
</body>

</html>