<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Lista de Produtos</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<h1>Produtos</h1>
	<a th:href="@{/produtos/novo}">Novo Produto</a> |
	<a th:href="@{/categorias}">Categoria</a>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>Nome</th>
			<th>Preço</th>
			<th>Categoria</th>
			<th>Ações</th>
		</tr>
		<tr th:each="p : ${produtos}">
			<td th:text="${p.id}"></td>
			<td th:text="${p.nome}"></td>
			<td th:text="${p.preco}"></td>
			<td th:text="${p.categoria.nome}"></td>
			<td>
				<a th:href="@{/produtos/editar/{id}(id=${p.id})}">Editar</a> |
				<a th:href="@{/produtos/excluir/{id}(id=${p.id})}">Excluir</a>
				
			</td>
		</tr>
	</table>
</body>

</html>